html, body {
    margin: auto;
    height:100%;
    background-color:black;
    color: white;
    font-family: monospace
}

h1 {
    color: greenyellow;
    font-size: 48px;
    margin: 48px 10vw;
}

p {
    font-size: 24px;
    margin: 24px 5vw;
}
