html, body {
    background-color:azure;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  text-align: center;
  padding-bottom: 50px;
  /* background-color: rgb(235, 245, 251); */
}

#header {
    text-align: center;
    background-image: url("/images/katahdin.jpg");
    width:1080px;
    height: auto;
}

#profile {
    border-radius: 1000px;
    width:350px;
    height:350px;
}

.icon {
    text-align: center;
    text-overflow: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
    width: 200px;
    height: 225px;
    padding: 25px 15px;
    display: inline-block;
}

.icon img{
    width:200px;
    height:200px;
    padding-bottom: 10px;
    display: block;
}


.profile img{
    width:fit-content;
    margin: 30px 30px;
    padding: 20px 20px;
    border: 20px 20px;
}
.profile {
    float: right;
    width:min-content;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: darkslategrey;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.input_text {
    padding-bottom: 30px;
    overflow-wrap: normal;
}

.submit_button {
    margin: 15px;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
}

.comment {
    background-color: white;
    text-align: left;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.comment h3 {
    font-size: 24px;
    margin: 5px;
    min-width: 100px;
}

.comment p {
    font-size: 16px;
    margin: 5px;
    overflow-wrap: break-word;
}

.comment span {
    font-size: 14px;
    float: right;
    color: darkgrey;
}

.page_number {
    padding: 14px;
    color: grey;
}

.page_number.selected {
    color: black;
}

.page_number:hover{
    color: black;
}

.footer {
    margin: 5px;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom:0;
    width:100vw;
    color: black;
    font-size: 24px;
}

.header {
    overflow: auto;
    width: 100vw;
    padding: 10px 50px;
    background: lavender;
    color: darkblue;
}

.header h1 {
    width: min-content;
    text-align: center;
    text-decoration: none;
    margin: 0;
    display: inline-block;
    font-size: 36px;
    padding: 15px;
}

.header h2 {
    width: fit-content;
    text-align: center;
    text-decoration: none;
    margin: 0;
    display: inline-block;
    font-size: 24px;
    padding: 15px;
}

.header h1:hover,.header h2:hover {
    color: black;
    transform: translate(0, -5px);
}

.animateText {
    animation-name: textscroll;
    animation-duration: 1s;
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
    max-width: max-content;
    /* background-color: pink; */
}

@keyframes textscroll{
    from{width: 0px;}
    to{width: 100%;};
}

.coding {
    margin: auto;
    background-color:black;
    color: white;
    font-family: monospace
}

.coding h1 {
    color: greenyellow;
    font-size: 48px;
    margin: 48px 10vw;
}
.coding h2 {
    color: greenyellow;
    font-size: 36px;
    margin: 36px 10vw;
}
.coding p {
    font-size: 24px;
    margin: 24px 5vw;
}

.code {
    font-size: 14px;
    margin: 0px 5vw;
}

.bigimg {
    background-image: url("/images/katahdin.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}