html, body {
    background-color:azure;
    font-family: 'Times New Roman', Times, serif;
}

#content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  text-align: center;
  /* background-color: rgb(235, 245, 251); */
}

#header {
    text-align: center;
    background-image: url("/images/katahdin.jpg");
    width:1080px;
    height: auto;
}

#profile {
    border-radius: 1000px;
    width:350px;
    height:350px;
}

.icon {
    text-align: center;
    text-overflow: initial;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;
    width: 200px;
    height: 225px;
    padding: 25px 15px;
    display: inline-block;
}

.icon img{
    width:200px;
    height:200px;
    padding-bottom: 10px;
    display: block;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: darkslategrey;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.input_text {
    padding-bottom: 30px;
    overflow-wrap: normal;
}

.submit_button {
    margin: 15px;
    padding: 5px 15px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
}

.comment {
    background-color: white;
    text-align: left;
    padding: 10px;
    margin: 10px;
}

.comment h3 {
    font-size: 24px;
    margin: 5px;
    min-width: 100px;
}

.comment p {
    font-size: 16px;
    margin: 5px;
    overflow-wrap: break-word;
}

.comment span {
    font-size: 14px;
    float: right;
    color: darkgrey;
}

.footer {
    
    text-align: center;
    position: fixed;
    bottom:0;
    left:0;
    width:100vw;
    color: black;
    padding: 15px 15px;
    font-size: 24px;
}

.animateText {
    animation-name: textscroll;
    animation-duration: 1s;
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;
    max-width: max-content;
    /* background-color: pink; */
}

@keyframes textscroll{
    from{width: 0px;}
    to{width: 100%;};
