body, html {
    height: 100%;
    margin: 0px 0px;
}

.bigimg {
    background-image: url("/images/katahdin.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: rgb(211,211,211,0.25);
    width: min-content;
    min-width: 300px;
    margin: 50px 50px;
}